_site
.sass-cache

# node
node_modules

# sublime projects
portfolio.sublime-project
portfolio.sublime-workspace

# Mac stuff
.DS_Store
.Rproj.user

# Some large files that can be accessed elsewhere
fp7.csv
fp7org_utf8_tsv.txt